/* src/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

body {
    background: linear-gradient(to left, var(--color-teal) 50%, var(--color-white) 50%);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1;
    display: flex;
    padding: 2rem;
    gap: 4rem;
    transition: opacity 0.5s ease-out;
}

.left-column,
.right-column {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-column {
    animation: slideInLeft 0.5s ease-out;
}

.right-column {
    background-color: var(--color-white);
    border-radius: 1rem;
    animation: slideInRight 0.5s ease-out;
    border: var(--color-orange) .25rem solid;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}