/* src/styles/variables.css */
:root {
  --text-color: #264653;
  --color-dark-green: #465C54;
  --color-teal: #90B6B4;
  --color-white: #F6F9F8;
  --color-peach: #E8AE70;
  --color-orange: #CE5B37;
}